

.bar {
  /*background-color: steelblue;*/
  height: 20px;
  text-align: right;
  font-family: 'Lato';
  font-weight: 200;
  font-size: 15px;
  color: white; 
  margin: 3px;
  padding: 3px;
  fill: steelblue;
  /*transition: all 2s;*/
}

text{
  color: white;
}
